.button {
    background: linear-gradient(to top, #7EC31F, #A4D842);
    background-color: #93D02B;
    color: #ffffff;
    font-size: 24px;
    width: 100%;
    max-width: 342px;
    height: 51px;
    border-radius: 3px;
    border: 1px solid #3a9a00;
    text-shadow: 1px 1px #51850e;
    box-shadow: inset 2px 1px 1px 0px rgba(255, 255, 255, .4);
    cursor: pointer;
}

.button:hover, .button:focus {
    background: linear-gradient(#7EC31F, #A4D842);
}

.button:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.button--small {
    width: 151px;
    height: 44px;
    display: inline-block;
    font-size: 
}
.button--decline {
    background-color: #F4495B;
    background: linear-gradient(#F65E6F, #F03747);
    border-color: #a2202a;
}
    .button--decline:hover, .button--decline:active {
        background: linear-gradient(to top, #F65E6F, #F03747);
    }

.button--disabled {
    background-color: #BCDB97;
    background: linear-gradient(#C9E2AA, #ABD182);
    border-color: #90ca6d;
}
    .button--disabled:hover {
        background: linear-gradient(#C9E2AA, #ABD182);
        cursor: not-allowed;
    }
