/* --- style placeholder --- */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #afafaf;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #afafaf;
  opacity: 1;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #afafaf;
}
:-moz-placeholder { /* Firefox 18- */
  color: #afafaf;
  opacity: 1;
}


.form__header {
    text-align: center;
    font-size: 32px;
    color: #ffffff;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, .7);
    padding-bottom: 5px;
    margin-bottom: 20px;
} 

.form__container {
    width: 100%;
    min-width: 300px;
    max-width: 422px;
    border: none;
    padding: 0;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.form__background {
    width: 100%;
    background-color: rgba(0, 0, 0, .23);
    border-radius: 5px;
    padding: 20px 20px 22px 18px;
    margin: 0;
    transition: transform 300ms ease-out;
}

.form__body {
    width: 100%;
    border: none;
    background-color: #f4f4f4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;  
    box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, .13);
    
}

.form__field-wrapper {
    width: 90%;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    display: flex;
    margin-top: 20px;
    padding: 1px;  
    background: linear-gradient(#F6F6F6, #F0F0F0);
}
.form__field-wrapper:hover {
    background: linear-gradient(to top, #F6F6F6, #F0F0F0);
}
    .form__field-wrapper--checkbox-small {
        width: 151px;
        height: 44px;
        margin-top: 10px;
        margin-bottom: 25px;
    }
    .form__field-wrapper--inline {
        border: none;
        justify-content: space-between;
        background: #f4f4f4;
    }
    .form__field-wrapper--checkbox, 
    .form__field-wrapper--button,
    .form__field-wrapper--inline:hover,
    .form__field-wrapper--checkbox:hover,
    .form__field-wrapper--button:hover {
        border: none;
        background: #f4f4f4;
    }

.field__label {
    height: 34px;
    min-width: 58px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-right: 1px solid #e4e4e4;
    position: relative;    
    cursor: pointer;
}

.label__icon {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
}
    .label__icon--username {
        background-image: url("../img/icons/username.png");
        height: 22px;
        width: 23px;
        margin-top: -11px;
        margin-left: -12px;
    }
    .label__icon--padlock {
        background-image: url("../img/icons/padlock.png");
        height: 26px;
        width: 21px;
        margin-top: -13px;        
        margin-left: -10px;
    }
    .label__icon--email {
        background-image: url("../img/icons/email.png");
        height: 16px;
        width: 24px;
        margin-top: -8px;        
        margin-left: -12px;
    }

    .label__icon--location {
        background-image: url("../img/icons/location.png");
        height: 24px;
        width: 15px;
        margin-top: -12px;        
        margin-left: -7px;
    }
    .label__icon--phone {
        background-image: url("../img/icons/phone.png");
        height: 25px;
        width: 15px;
        margin-top: -12px;        
        margin-left: -7px;
    }


.label__text--visually-hidden { 
/* --- Visually hidden copied from HTML5 Boilerplate: 
    * Hide only visually, but have it available for screen readers:
    * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
    *
    * 1. For long content, line feeds are not interpreted as spaces and small width
    *    causes content to wrap 1 word per line:
    *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe --- */
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

.field__input {
    border: none;
    width: 100%;
    padding-left: 70px;
    background-color: transparent;
    font-size: 16px;
    margin: 0;
    margin-left: -58px;
}
.field__input:focus {
    background: linear-gradient(to top, #f2f2f2, #eaeaea);
    box-shadow: 0px 0px 3px 3px rgba(126,195,31,.5);
}
    .field__input--textarea {
        height: 232px;
        padding-top: 15px;
        padding-left: 16px;
        margin-left: 0px;
    }

.field__input--disabled {
  color: #afafaf;
}

.field__checkbox {
/* --- Visually hidden focusable copied from HTML5 Boilerplate: 
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe --- */
    clip: auto;
    height: auto;
    margin: 0;
    overflow: hidden;
    width: auto;
    white-space: inherit;
    transform: translate(2px, 2px);
}

.field__checkbox:focus {
/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
    clip: auto;
    height: 12px;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
    box-shadow: 4px 5px 4px 9px rgba(126,195,31,.5);
    background-color: red;
    transform: translate(2px, 2px);
}

.form__field-wrapper--checkbox-small .field__checkbox {
    transform: translate(2px, 10px);
}

.field__checkbox-box {
    width: 26px;
    height: 26px;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    background-color: #f4f4f4;
    position: relative;
    display: inline-block;
}

.field__checkbox-box:before {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 5px;
    background: linear-gradient(to top, #7EC31F, #A4D842);
    background-color: #93D02B;
    box-shadow: inset 2px 1px 1px 0px rgba(255, 255, 255, .4);
    opacity: 0;
    top: 4px;
    left: 4px;
    position: absolute;
    transition: opacity 300ms ease-out;
}

.field__label--checkbox {
    cursor: pointer;
    margin-left: -13px;
    display: flex;
    align-items: center;
}

.field__checkbox:checked + .field__label--checkbox > .field__checkbox-box:before  {
    opacity: 1;
    transition: opacity 300ms ease-out;
}
    
.field__span {
    margin-left: 14px;
    color: #afafaf;
}


.form__button {
    margin-top: 10px;
    margin-bottom: 25px;
}

