*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: 'Titillium Web', sans-serif;
    background-image: url('../img/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1050px;
    padding-bottom: 100px;
    margin: 0 auto 0 auto;
    background-image: url('../img/background1.png'), url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.content-wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: transform 300ms ease-out;
}

.column {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.banner {
    display: block;
    text-align: center;
    padding-top: 76px;
    opacity: .5;
}

.banner__logo {
    margin-bottom: 24px;
    margin-right: 24px;
}

.banner--bottom {
    width: 100%;
    max-width: 384px;
    margin: 58px auto 0 auto;
}
.banner--bottom .banner__logo {
    width: 75px;
    height: 74px;
}
.banner--bottom .banner__name {
    width: 263px;
    height: 70px;
}

.banner__url {
    display: block;
    margin: 34px auto 0 auto;
}

@media all and (min-width: 449px) {
    .banner__logo {
    margin-bottom: 0;
    margin-right: 24px;
}
}

@media all and (min-width: 950px) {
    .content-wrapper {
        flex-direction: row;
    }
    .container {
        background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    box-shadow: 0px 0px 100px;
}
}

/*
@media all and (max-width: 500px) {
    .column {
        width: 90%;
    }
    .form__background {
    width: 90%;
    background-color: rgba(0, 0, 0, .23);
    border-radius: 5px;
    padding: 20px 20px 22px 18px;
    margin: 0;
    transition: transform 300ms ease-out;
}

.form__body {
    width: 100%;
    border: none;
    background-color: #f4f4f4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;  
    box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, .13);
    
}

.form__field-wrapper {
    width: 90%;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    display: flex;
    margin-top: 20px;
    padding: 1px;  
    background: linear-gradient(#F6F6F6, #F0F0F0);
}
}
*/