.button {
    background: linear-gradient(to top, #7EC31F, #A4D842);
    background-color: #93D02B;
    color: #ffffff;
    font-size: 24px;
    width: 100%;
    max-width: 342px;
    height: 51px;
    border-radius: 3px;
    border: 1px solid #3a9a00;
    text-shadow: 1px 1px #51850e;
    box-shadow: inset 2px 1px 1px 0px rgba(255, 255, 255, .4);
    cursor: pointer;
}

.button:hover, .button:focus {
    background: linear-gradient(#7EC31F, #A4D842);
}

.button:active {
    position: relative;
    top: 1px;
    left: 1px;
}
