.button {
    background: -webkit-gradient(linear, left bottom, left top, from(#7EC31F), to(#A4D842));
    background: -webkit-linear-gradient(bottom, #7EC31F, #A4D842);
    background: -o-linear-gradient(bottom, #7EC31F, #A4D842);
    background: linear-gradient(to top, #7EC31F, #A4D842);
    background-color: #93D02B;
    color: #ffffff;
    font-size: 24px;
    width: 100%;
    max-width: 342px;
    height: 51px;
    border-radius: 3px;
    border: 1px solid #3a9a00;
    text-shadow: 1px 1px #51850e;
    -webkit-box-shadow: inset 2px 1px 1px 0px rgba(255, 255, 255, 0.4);
            box-shadow: inset 2px 1px 1px 0px rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

.button:hover, .button:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(#7EC31F), to(#A4D842));
  background: -webkit-linear-gradient(#7EC31F, #A4D842);
  background: -o-linear-gradient(#7EC31F, #A4D842);
  background: linear-gradient(#7EC31F, #A4D842);
}

.button:active {
    position: relative;
    top: 1px;
    left: 1px;
}
