    .label__icon--location {
        background-image: url("../img/icons/location.png");
        height: 24px;
        width: 15px;
        margin-top: -12px;        
        margin-left: -7px;
    }
