.form__field-wrapper--select {
    background: url("../img/icons/arrow.png"), -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#F0F0F0));
    background: url("../img/icons/arrow.png"), -webkit-linear-gradient(#F6F6F6, #F0F0F0);
    background: url("../img/icons/arrow.png"), -o-linear-gradient(#F6F6F6, #F0F0F0);
    background: url("../img/icons/arrow.png"), linear-gradient(#F6F6F6, #F0F0F0);
    background-repeat: no-repeat;
    background-position: center right 15px;
}

.form__field-wrapper--select:hover {
    background: url("../img/icons/arrow.png"), -webkit-gradient(linear, left bottom, left top, from(#F6F6F6), to(#F0F0F0));
    background: url("../img/icons/arrow.png"), -webkit-linear-gradient(bottom, #F6F6F6, #F0F0F0);
    background: url("../img/icons/arrow.png"), -o-linear-gradient(bottom, #F6F6F6, #F0F0F0);
    background: url("../img/icons/arrow.png"), linear-gradient(to top, #F6F6F6, #F0F0F0);
    background-repeat: no-repeat;
    background-position: center right 15px;
}