.form__field-wrapper--select {
    
  background: url("../img/icons/arrow.png"), linear-gradient(#F6F6F6, #F0F0F0);
    background-repeat: no-repeat;
    background-position: center right 15px;
    cursor: pointer;
}

    
.form__field-wrapper--select:hover {
    background: url("../img/icons/arrow.png"), linear-gradient(to top, #F6F6F6, #F0F0F0);
    background-repeat: no-repeat;
    background-position: center right 15px;
    }