.button--disabled {
    background-color: #BCDB97;
    background: linear-gradient(#C9E2AA, #ABD182);
    border-color: #90ca6d;
}
    .button--disabled:hover {
        background: linear-gradient(#C9E2AA, #ABD182);
        cursor: not-allowed;
    }
    .button--disabled:active {
        position: static;
    }
