.banner--bottom {
    max-width: 384px;
    margin: 58px auto 0 auto;
    padding-top: 0;
}

.banner--bottom .banner__logo {
    width: 75px;
    height: 74px;
}
.banner--bottom .banner__name {
    width: 263px;
    height: 70px;
    margin-left: 12px;
}


@media all and (min-width: 394px) {
    .banner--bottom .banner__logo {
        margin-bottom: 0;
}
}

@media all and (min-width: 449px) {
       .banner--bottom .banner__name {
        margin-left: 0;
}
}


@media all and (min-width: 394px) {
    .banner--bottom .banner__logo {
        margin-bottom: 0;
}
}