.l-container {
    max-width: 1050px;
    padding-top: 55px;
    padding-bottom: 55px;
    margin: 0 auto 0 auto;
    background-image: url('../img/background1.png'), url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.l-content-wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto 0 auto;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-flex-direction: column;
       -moz-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-around;
       -moz-justify-content: space-around;
        -ms-justify-content: space-around;
            justify-content: space-around;
    -webkit-align-items: flex-start;
       -moz-align-items: flex-start;
        -ms-align-items: flex-start;
            align-items: flex-start;
}

.l-column {
    width: 100%;
    position: relative;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-flex-direction: column;
       -moz-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
       -moz-justify-content: center;
        -ms-justify-content: center;
            justify-content: center;
}

@media all and (min-width: 950px) {
    .l-content-wrapper {
        flex-direction: row;
    }
    .l-container {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: scroll;
        box-shadow: 0px 0px 100px;
    }
}